<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>FullTextDemo</servlet-name>
		<servlet-class>com.grallandco.demonstration.fulltext.FullTextDemoServlet</servlet-class>
	</servlet>

	<listener>
	 <listener-class>com.grallandco.demonstration.fulltext.DataInjectorListener</listener-class>
	</listener>
	
	<servlet-mapping>
		<servlet-name>FullTextDemo</servlet-name>
		<url-pattern>/fulltextdemo</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>fulltextdemo</welcome-file>
	</welcome-file-list>
</web-app>
